.btn {
	display: inline-block;
	min-width: 260px;
	vertical-align: top;
	position: relative;
	padding: 13px 30px;
	font-size: 18px;
	font-family: $font;
	line-height: 1.3;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	border: none;
	border-radius: 5px;
	box-shadow: 0 2px 0 0 #5b503b;
	background: linear-gradient(to bottom, #dfc591, #8c7c5c);
	transition: all 0.3s ease;
	user-select: none;
	cursor: pointer;
	@include res(l) {
		min-width: 220px;
		padding: 11px 25px;
	}
	@include res(s) {
		min-width: 180px;
		padding: 8px 20px;
		font-size: 16px;
	}

	&:focus {
		outline: none;
	}

	&:hover {
		box-shadow: 0 3px 0 0 #5b503b;
		background: linear-gradient(to bottom, #e9cf99, #968666);
	}
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}