@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/hinted-subset-ProximaNova-Regular.woff2') format('woff2'),
	url('../fonts/hinted-subset-ProximaNova-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/hinted-subset-ProximaNova-Bold.woff2') format('woff2'),
	url('../fonts/hinted-subset-ProximaNova-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'MetaSerifPro';
	src: url('../fonts/hinted-subset-MetaSerifPro-Light.woff2') format('woff2'),
	url('../fonts/hinted-subset-MetaSerifPro-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'MetaSerifPro';
	src: url('../fonts/hinted-subset-MetaSerifPro-Medium.woff2') format('woff2'),
	url('../fonts/hinted-subset-MetaSerifPro-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}