.hamburger--slider.is-active .hamburger-inner {
	background: #fff;
	&:after {
		background: #fff;
	}
}

.header-sec {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 0;
	background: #fff;
	transition: all 0.3s ease;
	z-index: 5;
	@include res(xl) {
		padding: 15px 0;
	}
	@include res(s) {
		padding: 6px 0;
	}
	&.active {
		padding: 6px 0;
	}
}

.header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&:before {
		@include res(l) {
			content: '';
			display: block;
			width: 58px;
		}
	}
}

.header__logo {
	@include res(l) {
		margin-left: $pad-s;
	}
	@include res(s) {
		display: none;
	}
	img {
		display: block;
		max-width: 206px;
	}
}

.header__nav {
	@include res(l) {
		display: none;
	}
	ul {
		display: flex;
		list-style: none;
	}
	li {
		text-transform: uppercase;
		font-size: 12px;
	}
	a {
		display: block;
		padding: 5px 10px;
		transition: all 0.3s ease;
		&:hover {
			color: #2327a4;
		}
	}
}

.header__contact {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}

.header__contact-phone {
	display: block;
	font-size: 18px;
	font-weight: bold;
	line-height: 1;
	white-space: nowrap;
	@include res(s) {
		font-size: 16px;
	}
}

.header__contact-mail {
	font-size: 14px;
}

.header-burger {
	display: none;
	@include res(l) {
		position: fixed;
		top: 4px;
		left: 2px;
		display: block !important;
		outline: none;
		z-index: 16;
	}
	@include res(s) {
		top: 0px;
	}
	.hamburger {
		outline: none;
	}
}

.mobile-menu-wrap {
	position: fixed;
	top: 0;
	left: 0;
	max-width: 400px;
	width: 100%;
	height: 100%;
	padding-top: 40px;
	padding-bottom: 20px;
	padding-left: $pad-xs;
	color: #fff;
	background: #00336c;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
	transform: translate3d(-100%,0,0);
	overflow: auto;
	z-index: 15;
	-webkit-overflow-scrolling: touch;
	img {
		max-width: 167px;
		display: block;
		margin: 0 auto $pad-xs;
	}
	&.opened {
		opacity: 1;
		visibility: visible;
		transform: translate3d(0,0,0);
	}
}

.mobile-menu {
	font-size: 16px;
	text-align: center;
	li {
		display: block;
		padding-top: 2px;
		padding: 2px;
	}
	a {
		display: block;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.mobile-menu__btn {
	padding-top: $pad-s;
	text-align: center;
}

.mobile-menu__adress {
	padding-top: $pad-s;
	text-align: center;
	font-size: 13px;
	line-height: (21/13);
	color: #fff;
}

.video-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 0;
	@include res(l) {
		display: none;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 23, 0.5);
	}
	video {
		width: 100%;
		min-width: 100%;
		height: auto;
		min-height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}
}